extends app.pug
append body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="#") RPMDT
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="/") Home