extends ../member.pug
append head
    link(rel="stylesheet" href="/static/civ.css")
    script(src="/static/civ.js")
append body
    div.banner
        div.container
            div.row
                div.col-md.tc
                    | Hello,
                    span#callsign
                div.col-md.tc.banner-middle
                    b RPMDT CIV
                div.col-md.tc
                    | Priority Timer:
                    span#ptimer
    div.container
        div.row
            div.col
                div#characters
                form(action="javascript:void(0);" onsubmit="createCharacter()" style="margin-top: 50px; margin-bottom: 50px;")
                    div.row
                        div.col
                            div.form-group
                                input.form-control#fname(type="text" placeholder="First Name")
                        div.col
                            div.form-group
                                input.form-control#lname(type="text" placeholder="Last Name")
                    div.row
                        div.col
                            div.form-group
                                input.form-control#bday(type="date" placeholder="DOB")
                        div.col
                            div.form-group
                                select.form-control#licenseStatus
                                    option(value="-1" selected disabled) License Status
                                    option Valid
                                    option Expired
                                    option Suspended
                                    option Revoked
                    div.row
                        div.col
                            div.form-group
                                select.form-control#warrantStatus
                                    option(value="-1" disabled selected) Warrant Status
                                    option(value="0") No Warrants
                                    option(value="1") Warrant Issued
                        div.col
                            div.form-group
                                input.form-control#warrantReason(type="text" placeholder="Warrant Reason" disabled)
                    button.btn.btn-primary Create Character
            div.col
                div#vehicles
                form#vehForm(action="javascript:void(0);" onsubmit="createVehicle()" style="margin-top: 50px; margin-bottom: 50px;")
                    div.row
                        div.col
                            div.form-group
                                input.form-control#lplate(type="text" placeholder="License Plate")
                        div.col
                            div.form-group
                                input.form-control#vin(type="text" placeholder="VIN")
                    div.row
                        div.col
                            div.form-group
                                input.form-control#make(type="text" placeholder="Make")
                        div.col
                            div.form-group
                                input.form-control#model(type="text" placeholder="Model")
                        div.col
                            div.form-group
                                input.form-control#color(type="text" placeholder="Color")
                        div.col
                            div.form-group
                                input.form-control#year(type="text" placeholder="Year")
                    div.row
                        div.col
                            div.form-group
                                select.form-control#regto
                                    option(value="-1" disabled selected) Registered to
                    div.row
                        div.col
                            div.form-group
                                select.form-control#istate
                                    option(value="-1" disabled selected) Insurance Status
                                    option Insured
                                    option Uninsured
                                    option Expired Insurance
                        div.col
                            div.form-group
                                select.form-control#rstate
                                    option(value="-1" disabled selected) Registration Status
                                    option Valid Registration
                                    option Expired Registration
                    button.btn.btn-primary Create Vehicle
    div.modal.fade#characterModal(tabindex="-1" role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#currentCharacterName
                    button.close(data-dismiss="modal" aria-label="close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    | License #
                    span#currentCharacterId
                    p
                    div.row
                        div.col
                            div.form-group
                                input.form-control#currentFname(type="text" placeholder="First Name")
                        div.col
                            div.form-group
                                input.form-control#currentLname(type="text" placeholder="Last Name")
                    div.row
                        div.col
                            div.form-group
                                input.form-control#currentBday(type="date" placeholder="DOB")
                        div.col
                            div.form-group
                                select.form-control#currentLstatus
                                    option(value="-1" selected disabled) License Status
                                    option Valid
                                    option Expired
                                    option Suspended
                                    option Revoked
                    div.row
                        div.col
                            div.form-group
                                select.form-control#currentWstatus
                                    option(value="-1" disabled) Warrant Status
                                    option(value="0" selected) No Warrants
                                    option(value="1") Warrant Issued
                        div.col
                            div.form-group
                                input.form-control#currentWreason(type="text" placeholder="Warrant Reason" disabled)
                div.modal-footer
                    button.btn.btn-primary(type="button" onclick="updateCharacter();") Update
                    button.btn.btn-danger(type="button" onclick="deleteCharacter();") Delete
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
    div.modal.fade#vehicleModal(tabindex="-1" role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#currentVehiclePlate
                    button.close(data-dismiss="modal" aria-label="close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    | Registration #
                    span#currentVehicleId
                    p
                    div.row
                        div.col
                            div.form-group
                                input.form-control#currentLplate(type="text" placeholder="License Plate")
                        div.col
                            div.form-group
                                input.form-control#currentVin(type="text" placeholder="VIN")
                    div.row
                        div.col
                            div.form-group
                                input.form-control#currentMake(type="text" placeholder="Make")
                        div.col
                            div.form-group
                                input.form-control#currentModel(type="text" placeholder="Model")
                        div.col
                            div.form-group
                                input.form-control#currentColor(type="text" placeholder="Color")
                        div.col
                            div.form-group
                                input.form-control#currentYear(type="text" placeholder="Year")
                    div.row
                        div.col
                            div.form-group
                                select.form-control#currentRegto
                                    option(value="-1" disabled selected) Registered to
                    div.row
                        div.col
                            div.form-group
                                select.form-control#currentIstate
                                    option(value="-1" disabled) Insurance Status
                                    option(selected) Insured
                                    option Uninsured
                                    option Expired Insurance
                        div.col
                            div.form-group
                                select.form-control#currentRstate
                                    option(value="-1" disabled) Registration Status
                                    option(selected) Valid Registration
                                    option Expired Registration
                div.modal-footer
                    button.btn.btn-primary(type="button" onclick="updateVehicle();") Update
                    button.btn.btn-danger(type="button" onclick="deleteVehicle();") Delete
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
    img.loading-icon(src="/static/load.gif")