extends ../app.pug
append body
    table(style="border: 0; width: 100%; height:100%; text-align: center;")
        tbody
            tr
                td
                    a.btn.btn-primary(href="/login")
                        i.fab.fa-discord(style="margin-right: 10px;")
                        = "Login with Discord"